{% extends 'base.html' %}
{% block body %}
    
<div class="devloper-pic">
    <img src="{{ url_for('static', filename='assest/author.jpg') }}" alt="">
    <p>This application created by Sachin Shrivastv using python micro web-framework. <br> Flask & Sqlite3 Database which perfrom CRUD operation. HTML & CSS are used for frontend annd Flask for backend. <br> All the source code of this application are available on github</p>
    <a href="https://wwww.facebook.com/badhshah250" class="a-btn-small">Sachin Shrivastv</a>
</div>

{% endblock body %}
