*{
    padding: 0rem;
    margin: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html{
    font-size: 62.5%;
}
root{
    --width-all: 75vw
}
.nav-bar{
    height: 2.9rem;
    border: .3rem solid black;
    background-color: beige;
    border-radius: .2rem;
}
#home{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.btn-black{
    text-decoration: none;
    font-size: 1.4rem;
    padding: .4rem;
    border-radius: .3rem;
}
.btn-black:hover, #home:hover{
    text-shadow: 0rem 0rem 1rem rgba(0,0,0,0.45);
}

h2, h1{
    text-align: center;
    margin-top: -1.7rem;
}
.form-control{
    height: 8rem;
    width: 70vw;
    margin: auto;
}
.form-control{
    margin-top: .5rem;
}
.form-control label{
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
.form-control input{
    height: 2rem;
    width: 70vw;
    margin: auto;
    padding: .2rem;
}
.form-control input[type=submit]{
    width: 10rem;
    height: 2rem;
    margin-top: .5rem;
    padding: 0;
    cursor: pointer;
    border-radius: .4rem;
    border: .2rem solid black;
    color: white;
    background-color: rgb(51, 47, 47);
}
.form-control input[type=text]{
    outline: none;
    border: .2rem solid black;
    border-radius: .3rem;
}
table{
    margin: auto;
    font-size: 1.4rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75vw;
    border: 1.2px solid rgb(0, 0, 0);
}
.table{
    margin-top: 5rem;
}
th, td{
    text-align: left;
    padding: 1rem;
}
tr:nth-child(even){
    background-color: #ffc5c5;
}
.table-desc{
    margin: .5rem .5rem .5rem .5rem;
}
.btn-small{
    border-radius: .4rem;
    border: .1rem solid black;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    padding: .2rem .3rem .3rem .3rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.66);
    margin-right: .5rem;
    cursor: pointer;
}
.btn-small:hover{
    background-color: rgb(0, 0, 0);
}
.a-btn-small {
    font-size: 1.3rem;
    text-decoration: none;
    align-items: center;
    border: .2rem solid black;
    margin-right: .5rem;
    padding: .1rem .4rem .1rem .4rem;
    border-radius: .4rem;
    background-color: rgba(0, 0, 0, 0.604);
    color: white;
}
.a-btn-small:hover{
    background-color: rgb(0, 0, 0);
    transition: .5s ease-out
}
.devloper-pic{
    margin: auto;
    height: 50rem;
    width: 55rem;
    background-color: azure;
}
.devloper-pic img{
    margin-top: 2rem;
    height: 20rem;
    width: 20rem;
    margin-left: 17rem;
    border-radius: 250rem;
}
.devloper-pic p{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.devloper-pic a{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
}